.background{
    width: 100vw;
    height: calc(100vh - 50px);
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    margin-top: 50px;
}

.body{
    margin: 0px;
}

.boy{
    height: 200px;
    margin-top: 435px;
    position: absolute;
}

.score{
    font-size: 30px;
    position: absolute;
    font-weight: bolder;
    font-family: Verdana, Tahoma, sans-serif;
    margin-left: 30px;
    cursor: help;
    background-color:rgb(51, 51, 51);
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    margin-top: 30px;
    color: rgb(250, 250, 251);
    border-radius: 5px;

}

.block{
    width: 80px;
    height: 120px;
    position: absolute;
    background-image: url("flame.gif");
    background-size: cover;
    margin-top: 490px;
}

.gameOver{
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: "Arial";
    font-weight: bold;
    margin-top: -50px;
}

.btn{
    width: 300px;
    height: 40px;
    color:white;
    background-color: rgb(138, 32, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    border-radius: 8px;
    border-style: solid;
    cursor: pointer;
    margin-top: 50px;
    border-width: 3px;
    border-color: rgb(56, 52, 52);
    font-style: normal;
}

.endScore{
    color: white;
    margin-top: 10px;
    background-color: black;
    border-radius: 5px;
    border-width: 20px;
    cursor: default; 
    font-style: inherit;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.g1{
    color: firebrick;
    cursor: default;
    font-weight: bold;
}

.g2{
    margin-top: 10px;
    cursor: default;
    font-weight: 600;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}